.kc-nav
    .kc-logo_topnav
      a(href='/')
        img(src='images/logo-kc07.svg', alt='Logo Kids Coding')    
    ul.kc-ul_topnav
      li.kc-li_topnav
        a(href='/') Accueil
      li.kc-li_topnav
        a(href='/ateliers') Ateliers
    ul.kc-right_topnav       
      li.kc-li_inscription
        a(href='/inscription') Inscription