.kc-topnav
    .kc-left_topnav
      img.kc-openmenu(src='images/icone-hamburg-topbar.svg', alt='Icone Menu')    
    .kc-center_topnav
      a(href='/')
        img(src='images/logo-kc07.svg', alt='Logo Kids Coding')    
    ul.kc-ul_topnav
      li.kc-li_topnav
        a(href='/ateliers') Ateliers       
      li.kc-li_topnav
        a(href='/inscription') Inscription