include ./layouts/head

body

  include ./layouts/topnav

  .kc-menu
    .kc-right_menu
      i.fa.fa-2x.fa-times.kc-closemenu
    ul.kc-ul_menu
      li.kc-li_menu
        i.fa.fa-2x.fa-home
        a(href='/') Accueil
      li.kc-li_menu
        i.fa.fa-2x.fa-pencil
        a(href='/inscription') Inscription
      li.kc-li_menu
        i.fa.fa-2x.fa-desktop
        a(href='/ateliers') Ateliers

  .kc-header
    .kc-filtre
      .kc-hamburger
        img.kc-openmenu(src='images/icone-hamburg.svg', alt='Icone Menu')       
      .kc-logo
        img(src='images/logo-kc07.svg', alt='Logo Kids Coding')
      .kc-accroche
        h1 Eveiller sa créativité par la programmation.
      .kc-inscription
        p Laissez votre enfant s'immerger dans cet univers ludique.
        a(href='/inscription') Inscription

    section.kc-infos
      .kc-detail
        .kc-circle
          img(src='images/icone-heure.svg', alt='Icone Heure')
          p 2h
        p Tous les mercredis après midi de 14h à 16h.
             
      .kc-detail
        .kc-circle
          img(src='images/icone-age.svg', alt='Icone Age')
          p 8+
        p Outils adaptés aux enfants à partir de 8ans.
             
      .kc-detail
        .kc-circle
          img(src='images/icone-cmulti.svg', alt='Icone Lieu')
          p
            | St Martin
            | de Valamas
        p Au centre multimédia de Saint Martin de Valamas.
        
    section.kc-bloc.bloc-rouge
      .kc-bloc_text
        h1.kc-titre Les horaires
        p.kc-description
          | Tous les mercredis de 14h à 16h Kidscoding07 accueille vos enfants pour découvrir ensemble un univers d'initiation à la programmation, d'exploration ludique, de construction et d'échanges.
        a(href='/inscription') Inscription
      .kc-bloc_image
        img(src='images/icone-heure.svg', alt='Icone Heure')
           
    section.kc-bloc.bloc-blanc
      .kc-bloc_text
        h1.kc-titre Les enfants
        p.kc-description
          | Avant tout orienté vers les 8-12 ans, ces ateliers permettent de découvrir la programmation. Chaque outil utilisé (scratch par exemple) est adapté à leur âge. Chacun va à son rythme. Les enfants développent ainsi leur propre logique et font jouer leur imagination pour donner vie à leurs idées.
      .kc-bloc_image
        img(src='images/icone-age.svg', alt='Icone Age')
           
    section.kc-bloc.bloc-rouge
      .kc-bloc_text
        h1.kc-titre Le lieu
        p.kc-description
          | Les ateliers se déroulent dans le centre multimédia de St Martin de Valamas. Cet espace public balisé pour l'occasion, est équipé d'ordinateurs dédiés pour chaque enfant. Les locaux sont mis à disposition tous les mercredis après-midi, en partenariat avec la communauté de communes Val'Eyrieux.
      .kc-bloc_image
        img(src='images/icone-cmulti.svg', alt='Icone Lieu')
         
    section.kc-bloc.bloc-blanc
      .kc-bloc_text
        h1.kc-titre Les outils
        p.kc-description
          a(href='https://scratch.mit.edu', target='_blank') Scratch
          |  est le principal programme utilisé lors des ateliers du KidsCodin07. Il s'agit d'un langage de programmation conçu pour les enfants. Ils peuvent ainsi programmer des médias interactifs comme des histoires, des jeux ou des animations. Avec Scratch, les enfants apprennent à penser de façon créative, à travailler en collaboration et à développer des compétences essentielles pour notre vie moderne.
      .kc-bloc_image
        img(src='images/icone-scratch.svg', alt='Icone Outils')
         
    section.kc-bloc.bloc-rouge
      .kc-bloc_text
        h1.kc-titre Les accompagnateurs
        p.kc-description
          | 5 accompagnateurs, issus de la fabrique sociale de codeurs Simplon.VE, organisent les ateliers. Cet accompagnement individuel permet de guider au mieux l'enfant, lui donner les bases pour qu'il comprenne le fonctionnement et ose ainsi créer sa propre histoire.
      .kc-bloc_image
        img(src='images/icone-animat.svg', alt='Icone Accompagnateurs')
         
    .kc-footer
      h1.kc-titre Besoin de plus d'informations
      form(action='')
        input(type='text')
        textarea(name='infos', id='', cols='30', rows='10')
         
    script(src='js/hamburger.js')