include ./layouts/head

body

  include ./layouts/topnav
  
  h3.kc-inscrits_title Informations sur les inscrits et dates choisies
  .atelier
    each seance in date
      .kc-date_cours
        h3 #{seance[0]}
        .kc-inscrit
          each enfant in seance[1]
            .kc-enfant-info
              = enfant.nom_enfant
              = enfant.prenom_enfant
        