include ./layouts/head

body

  include ./layouts/nav
  
  h3.kc-inscrits_title Calendrier des ateliers KidsCoding07
  .atelier
    each seance in date
      .kc-date_atelier
        h3 #{seance[0]}
        .kc-atelier_inscrits
          each enfant in seance[1]
            .kc-atelier_enfant
              = enfant.nom_enfant.charAt(0)
              | . 
              = enfant.prenom_enfant
        