include ./layouts/head

body

  include ./layouts/topnav
  
  h3.kc-inscrits_title Informations sur les inscrits et dates choisies
  .atelier
    .kc-date_cours
      each cours in date
        h3 #{cours[0]}
        = cours[1].nom_enfant
        