ul
  each inscrit in inscrits
    li
      = inscrit.nom_enfant
      = inscrit.prenom_enfant
      = inscrit.age
      = inscrit.nom_representant
      = inscrit.prenom_representant
      = inscrit.mail
      = inscrit.telephone
      = inscrit.date
      = inscrit.photo