include ./layouts/head

body

  include ./layouts/topnav

  h3.kc-messages_title Messages reçus
  each message in messages
    .kc-message
      .kc-email
        |Email : 
        = message.email 
      .kc-question
       |Question posée : 
       = message.question