.kc-inscrits_title {
  display: block;
  float: left;
  width: 100%;
  margin: 5% 0 2.5% 0;
  text-align: center;
  font-size: 2em;
}
.kc-inscrit {
  display: block;
  float: left;
  width: 33.3333%;
}

.kc-enfant-info, .kc-representant-info, .kc-choix { margin-bottom:2%;}

.kc-edit, .kc-desinscription {
	display: block;
  float: left;
  width: 40%;
  margin: 5%;
  padding: 2.5%;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgba(0,0,0,1);
  text-decoration: none;
  text-align: center;
  border: solid 2px rgba(0,0,0,1);
}