@import url(http://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: 'Bariol';
  src: url('../fonts/Bariol_Regular.eot');
  src: local('☺'), 
       url('../fonts/Bariol_Regular.woff') format('woff'), 
       url('../fonts/Bariol_Regular.ttf') format('truetype'), 
       url('../fonts/Bariol_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  font-family: 'Bariol';
  color: rgba(0, 0, 0, 0.87);
}

/* Navigation Supérieure */
.kc-topnav {
  display: block;
  position: fixed;
  float: left;
  top: -70px;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #000;
  z-index: 5000;
}
.kc-topnav img {
  float: left;
  height: 100%;
}
.kc-left_topnav, .kc-center_topnav, .kc-ul_topnav {
  display: block;
  float: left;
  height: 100%;
}

.kc-left_topnav{ width: 10%;}
.kc-center_topnav{ width: 60%;}
.kc-ul_topnav{ width: 30%;}

.kc-center_topnav img {
  margin-left: 66.6667%;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.kc-li_topnav {
  display: block;
  float: left;
  height: 100%;
}
.kc-menu {
  display: block;
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 62, 80, 1);
  z-index: 9999;
}
.kc-right_menu {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 75px;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.kc-right_menu i{ 
  color: rgba(255,85,85,1);
  transition: all 0.3s;
}

.kc-right_menu i:hover {
  transform: scale(1.25);
  cursor: pointer;
}
.kc-ul_menu {
  display: block;
  width: 100%;
  height: 100%;
}
.kc-li_menu {
  display: block;
  position: relative;
  float: left;
  width: 33.333%;
  height: 100%;
  border-right: solid 1px rgba(255,255,255,0.25);
  border-bottom: solid 5px transparent;
}
.kc-li_menu:hover{
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,85,85,0.1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,85,85,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,85,85,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,85,85,0.1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,85,85,0.1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,85,85,0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1aff5555',GradientType=0 ); /* IE6-9 */
  border-bottom: solid 5px #FF5555;
}
.kc-li_menu i {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  color: #fff;
  transform: translateX(-50%) !important;
}
.kc-li_menu a {
  display: flex;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.kc-header {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: url('../images/header1.png') 0% 25%;
  filter: grayscale(25%);
  -o-filter: grayscale(25%);
  -ms-filter: grayscale(25%);
  -moz-filter: grayscale(25%);
  -webkit-filter: grayscale(25%);
}
.kc-filtre {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 73, 94, 0.66);
}
.kc-hamburger {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 7.5%;
}
.kc-hamburger img { 
  width: 100%;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.kc-hamburger:hover img { 
  transform: scale(1.1); 
  -o-transform: scale(1.1); 
  -ms-transform: scale(1.1); 
  -moz-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  cursor: pointer;
}
.kc-logo {
  display: block;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 33%;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  filter: contrast(150%);
  -o-filter: contrast(150%);
  -ms-filter: contrast(150%);
  -moz-filter: contrast(150%);
  -webkit-filter: contrast(150%);
}

.kc-logo img { width: 100%;}

.kc-accroche {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,1);
}
.kc-accroche h1 {
  font-size: 3em;
}
.kc-inscription {
  display: block;
  position: absolute;
  bottom: 15%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.kc-inscription p {
  display: block;
  width: 100%;
  margin-bottom: 5%;
  font-size: 1.75em;
  color: rgba(255,255,255,1);
}
.kc-inscription a {
  display: block;
  width: 70%;
  margin: 5% auto;
  padding: 2.5%;
  font-size: 1.33em;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: transparent;
  border: solid 2px rgba(255,255,255,1);
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.kc-inscription a:hover {
  background-color: rgba(255,255,255,0.15);
}
.kc-infos {
  display: flex;
  position: relative;
  float: left;
  width: 100%;
  height: 75%;
  align-items: center;
}
.kc-detail {
  display: flex;
  float: left;
  width: 33%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kc-circle {
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 225px;
  justify-content: space-around;
  align-items: center;
  background-color: #77C7CA;
  border-radius: 100%;
  text-align: center;
}
.kc-circle img {
  display: block;
  width: 66%;
}
.kc-detail:nth-child(1) .kc-circle img {
  transform: translateY(-15%);
}
.kc-detail:nth-child(2) .kc-circle img {
  transform: translateY(-15%);
}
.kc-circle p {
  display: block;
  margin-top: -20%;
  font-size: 1.25em;
  line-height: 0.75em;
  font-weight: 600;
}
.kc-detail>p {
  display: block;
  margin: 5% 0;
  font-size: 1.5em;
}
.kc-bloc {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.bloc-rouge{ background-color: #FF5555;}

.kc-bloc_text {
  display: block;
  width: 60%;
  height: 100%;
}
.kc-bloc_text a {
  color: #ff5555;
  text-decoration: none;
}
.kc-bloc:nth-child(even) .kc-bloc_text{
  float: right;
}
.kc-bloc:nth-child(odd) .kc-bloc_text{
  float: left;
  color: #fff;
}
.kc-titre {
  display: block;
  float: left;
  width: 100%;
  margin-top: 15%;
  padding-left: 5%;
  font-size: 3em;
  font-family: sans-serif;
}
.kc-description {
  display: block;
  float: left;
  width: 100%;
  margin-top: 10%;
  padding-left: 5%;
  font-size: 1.75em;
}
.kc-bloc_image {
  display: block;
  position: relative;
  width: 40%;
  height: 100%;
}
.kc-bloc_image img {
  display: block;
  position: absolute;
  bottom: -25%;
  width: 200%;
}
.kc-bloc:nth-child(even) .kc-bloc_image{
  float: left;
  transform: rotateZ(15deg);
}
.kc-bloc:nth-child(even) .kc-bloc_image img{
  left: -50%;
}
.kc-bloc:nth-child(odd) .kc-bloc_image{
  float: right;
  transform: rotateZ(-15deg);
}
.kc-bloc:nth-child(odd) .kc-bloc_image img{
  left: -25%;
}
.kc-bloc:nth-child(6) .kc-bloc_image img{
  bottom: -50%;
  left: -25%;
  width: 133%;
}
.kc-footer {
  display: block;
  float: left;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  font-family: sans-serif;
}
.kc-footer h1 {
  display: block;
  width: 100%;
  text-align: center;
  margin: 2.5% 0;
}
.kc-footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}
.kc-footer input[type='text'], .kc-footer textarea{
  display: block;
  width: 60%;
  margin: 0.5% auto;
  padding: 1%;
  line-height: 2em;
  font-size: 1.1em;
  font-family: 'Bariol';
}
.kc-footer textarea{
  min-height: 150px;
}
.kc-footer input[type='text']::-webkit-input-placeholder, .kc-footer textarea::-webkit-input-placeholder{
  color: rgba(0,0,0,0.66);
  font-weight: 600;
}
.kc-footer input[type='text']:-moz-placeholder{
  color: rgba(0,0,0,0.66);
  font-weight: 600;
}
.kc-contact_submit {
  display: block;
  width: 20%;
  height: 50px;
  margin: 2% auto;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgba(255,255,255,1);
  background: none; 
  text-decoration: none;
  background-color: transparent;
  border: solid 2px rgba(255,255,255,1);
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.kc-contact_submit:hover {
  background-color: rgba(255,255,255,0.15);
}